<div class="row">
      <div class="col-md-4">
      <div class="jumbotron">
        <h2>Contact</h2> </div>
        CC Prestige<br>
        Club franco-chinois des marque de prestige<br><br><br>

        Adresse:<br><br>
        3, Rue Gazan<br>
        75014 Paris<br>
        France<br><br>                                                    

        Tél: 09 81 12 26 12<br>
        Tél: 06 62 69 41 89<br><br>

        Mail: ccprestige75@gmail.com
        <br><br><br><br><br><br><br><br>

      </div>
      <div class="col-md-8">
        <img src="images/contact.jpg" style="with:10%%; height=100%" class="img-responsive">
      </div>
    </div>